@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Online Shopping</h1>
    @Html.ActionLink("Admin Login", "Login","Admin", new { /* id=item.AdminId   */})
    @Html.ActionLink("Customer Login", "Login","Customer", new { /* id=item.AdminId   */})
</div>
